# Use the Prisma Postgres integration from Vercel Marketeplace to automatically connect a Prisma Postgres instance
# Or manually run `npx prisma init --db` to create a Prisma Postgres and manually set the `DATABASE_URL` below
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=PRISMA_POSTGRES_API_KEY"

# Create a random 32-character string or run `npx auth secret` to obtain one and set it as the `AUTH_SECRET` below
AUTH_SECRET="RANDOM_32_CHARACTER_STRING"
